.title{
    color: white;
    background-color: red;
    text-align: center;
    font-size: 48px;
}
.link{
    text-align: center;
    font-weight: bold;
    font-size: 34px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p{
    text-align: center;
}

li{
    text-align: center;
}

ul{
    text-align: center;
}
